# {{ ansible_managed }}
# See resolved.conf(5) for details

{% for section, settings in current_item.items() %}
[{{ section }}]
{% for key, value in settings.items() %}
{{ key }}={{ value }}
{% endfor %}

{% endfor %}
